

<div class="row clearfix ">
	<div class="col-md-12 column">
				<div class="col-md-1 column"></div>	
				<div class="col-md-10 column well">
					<chart-wrapper chart-type="Routes_Phases"></chart-wrapper>
				</div>
				<div class="col-md-1 column"></div>					
	</div>
</div>

<div class="row clearfix ">
	<div class="col-md-12 column">
				<div class="col-md-1 column"></div>	
				<div class="col-md-10 column well">
					<chart-wrapper chart-type="Routes_Scope"></chart-wrapper>
				</div>
				<div class="col-md-1 column"></div>					
	</div>
</div>
